* {
    background-color: rgb(230, 205, 238);
}

#formas {
    background-color: hsl(291, 55%, 53%);
    color: white;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(271, 41%, 40%);
    font-size: 5vh;
    margin-left: 3vh;
}