body, p, div {
    background-color:lightblue;
}

p {
    color: steelblue;
    background-color:aliceblue;
}

[for="nome"] {
    color: blue;
}

[type="submit"] {
    color:darkblue;
    background-color: lightsteelblue;
    border: solid 1px white;
}

[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(148, 169, 196);
}
